body {
	background-color: lightgray;
}

.btn {
    /* adding spacing between each button*/
    margin: 3px;
    border-color: darkgrey;
}
.gifDiv{
    /* making the images go in one line rather than block & adding spacing between the images*/
    float: left;
    margin: 3px;
}
.container {
	padding: 20px;
}
.jumbotron {
    background-color: gray;
}
.jumbotron .h1, .jumbotron h1 {
    text-align: center;
}

